@import url(http://fonts.googleapis.com/css?family=Alegreya:400,700);
@import url(http://fonts.googleapis.com/css?family=Alegreya:400italic,400,700);

@charset "UTF-8";

/*------ CSS RESET ------*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	-webkit-font-smoothing: antialiased; 
	font-smoothing: antialiased;
	text-decoration: none;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/*------ BEGIN MAIN CSS ------*/

@font-face {
	font-family: Typicons;
    src: url(fonts/typicons-regular-webfont.ttf);
    font-weight:400;
}

/* HTML stuff */

html {
	-webkit-font-smoothing: subpixel-antialiased;
	text-rendering: optimizeLegibility;

/* 
	-webkit-font-smoothing: none;
	-webkit-font-smoothing: antialiased;
	-webkit-font-smoothing: subpixel-antialiased;
 */

/*
	text-rendering: optimizeLegibility;
	text-rendering: geometricPrecision;
*/
}

/*------ GENERAL ------*/

body {
	background: #e6e8ed;
	font-family: "Alegreya";
    font-weight: 400;
	color: #343536;
	-webkit-animation-name: bodyAnim;
    -moz-animation-name: bodyAnim;
    -ms-animation-name: bodyAnim;
	-o-animation-name: bodyAnim;
	animation-name: bodyAnim;
	-webkit-animation-fill-mode: both;
	-moz-animation-fill-mode: both;
	-ms-animation-fill-mode: both;
	-o-animation-fill-mode: both;
	animation-fill-mode: both;
	-webkit-animation-delay: 0.5s;
	-moz-animation-delay: 0.5s;
	-ms-animation-delay: 0.5s;
	-o-animation-delay: 0.5s;
	animation-delay: 0.5s;
	-webkit-animation-duration: 0.5s;
	-moz-animation-duration: 0.5s;
	-ms-animation-duration: 0.5s;
	-o-animation-duration: 0.5s;
	animation-duration: 0.5s; 
    font-size: 16px;
	font-size-adjust: 0.50;
	text-align: left;
	-moz-font-feature-settings:"kern" 1, "liga" 1, "dlig" 1; 
	-moz-font-feature-settings:"kern=1, liga=1, dlig=1"; 
	-ms-font-feature-settings:"kern" 1, "liga" 1, "dlig" 1; 
	-o-font-feature-settings:"kern" 1, "liga" 1, "dlig" 1; 
	-webkit-font-feature-settings:"kern" 1, "liga" 1, "dlig" 1; 
	font-feature-settings:"kern" 1, "liga" 1, "dlig" 1;
}

@-webkit-keyframes bodyAnim {
	0%   { opacity: 0;}
	100% { opacity: 1;}
}

@-moz-keyframes bodyAnim {
	0%   { opacity: 0;}
	100% { opacity: 1;}
}

@-o-keyframes bodyAnim {
	0%   { opacity: 0;}
	100% { opacity: 1;}
}

@keyframes bodyAnim {
	0%   { opacity: 0;}
	100% { opacity: 1;}
}

a {
	color: #343536;
	-o-transition:all .2s ease-out, background 0.5s ease-in;
	-ms-transition:all .2s ease-out, background 0.5s ease-in;
	-moz-transition:all .2s ease-out, background 0.5s ease-in;
	-webkit-transition:all .2s ease-out, background 0.5s ease-in;
	transition:all .2s ease-out, background 0.5s ease-in;
	cursor: pointer;
}

a:hover {
	color: #FEBB06;
}

#container {
	width: 860px;
	margin: 0 auto;
	background: white;
	padding: 90px;
}

h5 {
    font-weight: 700;
    font-size: 26px;
}


/*------ HEADER ------*/

header {
	height: 104px;
	border-bottom: 1px solid #e6e8ed;
	font-weight: 700;
}

header a#logo {
	float: left;
	margin-top: -11px;
	height: 40px;
	width: 40px;
}

header nav {
	float: right;
	font-weight: 400;
	font-family: Typicons;
	font-size: 26px;
}

header nav a {
	margin-left: 20px;
}

::selection {
  background: #FEC901; /* WebKit/Blink Browsers */
  color: #fff;
}
::-moz-selection {
  background: #FEC901; /* Gecko Browsers */
    color: #fff;
}

/*------ INTRO ------*/

#intro {
	padding: 45px 0;
	border-bottom: 1px solid #e6e8ed;
	font-family: "Alegreya";
	font-size: 18px;
    font-weight: 700;
}

#intro p {
	line-height: 2;
    font-weight: 400;
}

#intro p em {
    font-family: Alegreya;
    font-style: italic;
    font-size: 20px;
}

#intro h3 {
	font-size: 28px;
    line-height: 2;
    font-weight: 700;
}

#intro a {
    border-bottom: 2px solid #feda00;
}

#intro a:hover {
    border-bottom: none;
}

#intro ul {
    list-style: square;
    padding-left: 20px;
}

#intro li {
    line-height: 2em;
    
}

/* Side Projects */

#side-projects {
	padding: 45px 0;
	border-bottom: 1px solid #e6e8ed;
	font-family: "Alegreya";
	font-size: 15px;
}

#side-projects p {
	line-height: 2;
}

#side-projects h5 {
	font-size: 18px;
    line-height: 2;
}

#side-projects a {
    border-bottom: 2px dotted #feda00;
}

#side-projects a:hover {
    border-bottom: none;
    background: #FEBB06;
    color: #fff;
    padding: 3px;
    
}

#side-projects ul {
    list-style: square;
    padding-left: 20px;
}

#side-projects li {
    line-height: 2em;
    
}


.tamil {
    font-size: 12px;
}
/* Social */

#social {
	padding: 45px 0;
	border-bottom: 1px solid #e6e8ed;
	font-family: "Alegreya";
	font-size: 15px;
}

#social p {
	line-height: 2;
    text-align: center;
}

#social h5 {
	line-height: 2;
    font-size: 18px;
    text-align: center;
}

/*------ THUMBNAILS ------*/

#thumbnails {
	margin-top: 55px;
}

#thumbnails h5 {
	line-height: 2;
    font-size: 18px;
    text-align: center;
    font-family: 'Alegreya';
    text-align: center;
    padding-bottom: 30px;
}

#thumbnails ul li {
	display: inline;
}

#thumbnails ul a img {
	-o-transition:all .2s ease-out, background 0.5s ease-in;
	-ms-transition:all .2s ease-out, background 0.5s ease-in;
	-moz-transition:all .2s ease-out, background 0.5s ease-in;
	-webkit-transition:all .2s ease-out, background 0.5s ease-in;
	transition:all .2s ease-out, background 0.5s ease-in;
	margin: -2px 0 0 0px;
	width: 286px;
	height: 215px;
}

#thumbnails ul a img:hover {
	opacity: 0.85;
}

/* --------------- Works ----------*/

#works {
	margin-top: 55px;
}

#works h5 {
	line-height: 2;
    font-size: 18px;
    text-align: center;
    font-family: 'Alegreya';
    text-align: center;
    padding-bottom: 30px;
}

#works ul li {
	display: inline;
}

#works ul a img {
	-o-transition:all .2s ease-out, background 0.5s ease-in;
	-ms-transition:all .2s ease-out, background 0.5s ease-in;
	-moz-transition:all .2s ease-out, background 0.5s ease-in;
	-webkit-transition:all .2s ease-out, background 0.5s ease-in;
	transition:all .2s ease-out, background 0.5s ease-in;
	margin: -2px 0 0 0px;
	width: 286px;
	height: 215px;
}

#works ul a img:hover {
	opacity: 0.85;
}


/*------ FOOTER ------*/

footer {
	width: 100%;
	text-align: center;
	margin-top: 85px;
	font-size: 14px;
}

footer a {
	
}


/*------ ABOUT ------*/

.overlay {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background:rgba(0,0,0,0.7);
	overflow: hidden;
	z-index: 9999;
	cursor: pointer;
	display: none;
}

.popup {
	display: none;
	position: fixed;
	top: 50%;
	left: 50%;
	width: 190px;
	margin: -100px 0 0 -148px;
	background: white;
	padding: 53px 53px 33px 53px;
	z-index: 999999;
	opacity: 0.95;
	border-radius: 2px;
	font-size: 14px;
}

.popup p {
	line-height: 2;
	margin-bottom: 20px;
}

.green {
	color: #18AF90;
}

.red {
    color: #d03737;   
}

/*------ MEDIA QUERIES ------*/

@media only screen and (max-width: 1023px) {

  #container {
  	width: 60%;
  }

  #thumbnails ul a img {
  	width: 100%;
  	height: 100%;
  }
        
}

@media only screen and (max-width: 480px) {

	#container {
  	width: 70%;
  	padding: 60px 40px;
  }

  header {
  	height: 80px;
  }

  footer {
  	margin-top: 55px;
  }

}